.form-control {
    display: block;
    width: 100%;
    padding: .5rem 0;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #495057;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #d2d6da;
    appearance: none;
    border-radius: .375rem;
    transition: .2s ease;
}

.form-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 4rem;
}

.image-show{
    width: 120px;
    height: 57px;
}

.btn-tool{
    margin-left: 1rem;
    width: 31px;
    height: 30px;
    border-radius: 7px;
    border: #d2d6da;
}

.column-show{
    white-space: unset !important;
    word-wrap: break-word;
    word-break: break-word !important;
}

.form-select {
    background-color: white;
}

